.body {
    background-color: #3f4455;
}

.container{
    height: 100px;
    width: 850px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.container div{
    display: inline-block;
    margin: auto 80px;
    

}