.body {
    background-color: #3f4455;
}

.container{
    height: 100px;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 70px;
    

}

.container div{
    display: inline-block;
    margin: auto 80px;
    

}